@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    animation: spin 1s linear infinite;
    border-top-color: #3498db;
}

.home-wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url('../public/bg.jpg');
    background-size: 100% auto; 
    background-position:top center;
    background-repeat: repeat-y;
  }
  
  .home-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2); 
  }
  
  .content-overlay {
    position: relative;
    z-index: 1;
    color: white; 
    padding: 20px;
  }